@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  font-family: 'open sans', sans-serif;
}

:root {
  --clr-pink: hsl(322, 100%, 66%);
  --clr-very-pale-cyan: hsl(193, 100%, 96%);
  --clr-very-dark-cyan: hsl(192, 100%, 9%);
  --clr-greyish-blue: hsl(208, 11%, 55%);
}

.container {
  width: 88%;
  max-width: 600px;
  margin-inline: auto;
  color: var(--clr-very-dark-cyan);
}

a {
  text-decoration: none;
}

p {
  font-size: 14px;
  line-height: 1.4;
}

h2 {
  font-size: 1.2rem;
}

body {
  background-color: var(--clr-very-pale-cyan);
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 1.5rem;
}

header .logo {
  height: 19.5px;
  width: 120px;
}

header svg {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

header a {
  color: var(--clr-very-dark-cyan);
  font: 12px 'poppins', sans-serif;
  padding: .2rem 1.5rem;
  border-radius: 1rem;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px #aec3d5;
          box-shadow: 0 1px 4px #aec3d5;
}

header a:hover {
  color: #22525e;
}

#sct-1 {
  margin-top: 2rem;
  padding-block: 2rem;
  text-align: center;
  background-color: var(--clr-very-pale-cyan);
}

#sct-1 .container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-inline: 2rem;
}

#sct-1 h1 {
  font-size: 1.4rem;
}

#sct-1 p {
  margin-block: 1.5rem;
}

#sct-1 img {
  margin-top: 3.5rem;
  width: 100%;
}

.btn {
  padding: .6rem 3rem;
  border-radius: 1.5rem;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: var(--clr-pink);
}

.btn:hover {
  background-color: #fc92d5;
}

main {
  background-color: #fff;
  position: relative;
  padding-block: 0 12rem;
  text-align: center;
}

#sct-2, #sct-3, #sct-4 {
  margin-top: 1.5rem;
  padding: 2rem 2.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 3px #bec7d0;
          box-shadow: 0 0 3px #bec7d0;
}

#sct-2 h2, #sct-3 h2, #sct-4 h2 {
  margin-block: 2.5rem 1.2rem;
}

#sct-2 img, #sct-3 img, #sct-4 img {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-inline: .5rem;
}

.pop-up {
  padding-block: 2.5rem;
  border-radius: 1rem;
  position: absolute;
  bottom: -3.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  -webkit-box-shadow: 0 0 3px #bec7d0;
          box-shadow: 0 0 3px #bec7d0;
}

.pop-up h2 {
  font-size: 1.1rem;
  line-height: 1;
  margin-bottom: 1.5rem;
}

footer {
  padding-block: 7rem 2.5rem;
  color: #fff;
  background-color: var(--clr-very-dark-cyan);
}

footer .container {
  width: 90%;
}

footer ul {
  padding: 0;
  list-style-type: none;
}

footer a {
  color: #fff;
}

footer #logo {
  width: 144px;
  height: 23.4px;
  margin-bottom: 1.5rem;
}

footer #logo path {
  fill: #fff;
}

footer #logo svg {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

footer address {
  font-style: normal;
  color: #fff;
}

footer address li {
  background: url(../images/icon-location.svg) no-repeat left 8px;
  padding-left: 2.2rem;
}

footer address li:nth-child(2) {
  background: url(../images/icon-phone.svg) no-repeat left center;
}

footer address li:nth-child(3) {
  background: url(../images/icon-email.svg) no-repeat left center;
}

footer address li + li {
  margin-top: 1.3rem;
}

footer #links {
  margin-block: 3rem;
}

footer #links li + li {
  margin-top: .8rem;
}

footer #links a {
  font-size: 17px;
}

footer #links a:hover {
  border-bottom: 2px solid #fff;
}

footer #social {
  text-align: center;
}

footer #social a {
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  text-align: center;
  border: 1.5px solid #fff;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 2px;
}

footer #social a + a {
  margin-left: .5rem;
}

footer #social a:hover {
  border: 1.5px solid var(--clr-pink);
  color: var(--clr-pink);
}

footer p {
  text-align: center;
  font-size: 10px;
  margin-top: 1rem;
}

/* 1000px */
@media (min-width: 1000px) {
  .container {
    max-width: 1200px;
  }
  p {
    font-size: 1.08rem;
    line-height: 1.4;
  }
  h2 {
    font-size: 2rem;
  }
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .container {
    padding-block: 3rem;
  }
  header .logo {
    height: 31.2px;
    width: 192px;
  }
  header svg {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  header a {
    font: 14px 'poppins', sans-serif;
    padding: .5rem 3rem;
    border-radius: 1.5rem;
  }
  #sct-1 {
    padding-block: 0 2.5rem;
    margin-bottom: 7rem;
    text-align: start;
    background-color: var(--clr-very-pale-cyan);
  }
  #sct-1 .container {
    padding-inline: 0;
  }
  #sct-1 .col-1 {
    width: 41.5%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #sct-1 .col-2 {
    width: 50%;
  }
  #sct-1 h1 {
    font-size: 2.6rem;
  }
  #sct-1 p {
    margin-block: 1.5rem 2.5rem;
  }
  #sct-1 img {
    margin-top: 0;
  }
  .btn {
    font-size: 1rem;
  }
  #sct-2, #sct-3, #sct-4 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-top: 2rem;
    padding: 2rem 5.5rem;
    text-align: start;
  }
  #sct-2 h2, #sct-3 h2, #sct-4 h2 {
    margin-block: 0 1.2rem;
  }
  #sct-2 .col-1, #sct-3 .col-1, #sct-4 .col-1 {
    width: 40%;
  }
  #sct-2 .col-2, #sct-3 .col-2, #sct-4 .col-2 {
    width: 45.5%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #sct-3 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .pop-up {
    width: 50%;
    padding-block: 3rem;
    bottom: -5rem;
  }
  .pop-up h2 {
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }
  footer {
    padding-block: 9rem 2.5rem;
  }
  footer #logo {
    height: 31.2px;
    width: 192px;
  }
  footer #logo svg {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  footer address {
    width: 30%;
  }
  footer #links {
    width: 25%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    height: 6.5rem;
  }
  footer #links li:nth-child(4n) {
    margin: 0;
  }
  footer #links li:nth-child(n+4) {
    margin-left: 3rem;
  }
  footer #social {
    width: 20%;
    text-align: left;
  }
  footer p {
    color: #fff;
    text-align: right;
  }
}
/*# sourceMappingURL=style.css.map */